.confirmationModal {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.confirmationModal h2 {
  margin-bottom: 20px;
  color: var(--c-black);
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.confirmButton, .cancelButton {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.confirmButton {
  background-color: var(--c-accent);
  color: var(--c-white);
}

.cancelButton {
  background-color: var(--c-middle-gray);
  color: var(--c-black);
}
